head,body{
	padding: 0px;
	margin: 0px;
}
#container{
	position: absolute;
	height: 100%;
	width: 100%;
}
#text-field{
	background-color: #fff;
	padding:0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size:15px;
	font-weight: 300;
	text-overflow:ellipsis;
}